html,
body {
  height: 100%;
}

body{
  font-family: 'Hammersmith One', sans-serif;
  color:white;
}

h1 {
  font-size: 35px;
}

p {
  text-transform: uppercase;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.hero-image {
  height: 100%;
  background: url(images/bm-hero-image-small.png) no-repeat center;
  background-size: cover;
}

.profile-card {
  text-align: center;
}

.profile-card-content {
  padding: 10px;
}

.btn-container {
  margin-top: 15px;
}

button {
  min-height: 35px;
  min-width: 120px;
  background-color: #F24D29;
  border: solid 2px;
  color: white;
  text-transform: uppercase;
}

.resume-btn {
  background: url(images/arrow-down.svg) no-repeat 8px 50%;
}

.contact-btn {
  background: url(images/smartphone.svg) no-repeat 8px 50%;
}

.resume-btn,
.contact-btn {
  background-size: 20px;
}

.profile.card {
  flex-basis: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  flex: 1 1 50%;
  min-height: 150px;
}

.card p {
  margin-top: 15px;
}

.card-icon {
  max-width: 50px;

}

.profile,
.social-menu {
  background-color: #4290B4;
}

.experience,
.blog {
  background-color: #1C366B;
}

.education {
  background-color: #F5F73D;
}

.contact {
  background-color: #C4CFD0;
}

.portfolio,
.profile-card {
  background-color: #F24D29;
}


@media(min-width: 800px) {
  body {
    display: flex;
    flex-direction: row;
  }
  .grid,
  .hero-image {
    flex: 1 1 50%;
  }
}

@media(min-width: 1260px) {
  .hero-image {
    background: url(images/bm-hero-image-wide.png) no-repeat center;
    background-size: cover;
  }
  .grid {
    flex: 1 1 30%;
  }
  .hero-image {
    flex: 1 0 70%;
  }
}
